<html>   
    <head>
      <title>My New Webpage</title>
      <style>
       li {
           color: red;
           line-height: 2;
       }
   </style>
  </head>
{% regroup this_appellation by appellation as app_list %}
    {% for x in app_list %}
    <h1>{{ x.grouper }}</h1>
    {% endfor %}
{% regroup this_appellation by maker.name as type_items %}
{% for x in type_items %}
    <h3>{{ x.grouper }}</h3>
    {% for w in x.list %}
    <li style=><a href="/wines/{{ w.id }}/">
        {{ w.wine_type }} |
            {{ w.blend }} | 
            {{ w.year }} | 
            {{ w.maker.name }} | 
            {{ w.region }} | 
            {{ w.where.room }}
            </a></li>
    
{% endfor %}
{% endfor %}
    
   



    
</html>
    